/*
Project Name: Relaxr Project
Client: Relaxr
Author: Andy Orme
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	background-color: #f0efef;
	color: #606161;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.5;
}

h1 {
	color: #FFF;
	font-size: 48px;
	font-weight: 800;
	line-height: 0;
	float: left;
	padding-top: 45px;
}

h2 {
	color: #FFF;
	font-size: 47px;
	font-weight: 600;
	line-height: 1.5;
}

h3 {
	color: #033048;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.5;
}

h4 {
	color: #033048;
	font-size: 32px;
	font-weight: 800;
}

ul {
	list-style-type: disc;
}

.benefits ul {
	margin-left: 80px;
}

header {
	height: 100px;
	background-color: #033048;
}

nav {
	float: right;
	margin-top: 30px;
}

nav li, a {
	color: #f9e42e;
	display: inline-block;
	margin: 0 20px;
	font-size: 24px;
	font-weight: 400;
	text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	margin: 0 auto;
	max-width: 90%;
	width: 1024px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo {
	position: relative;
	z-index: 100;
}


/******************************************
/* INTRO-SECTION
/*******************************************/


.intro {
	background-image: url("../images/header_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}

.intro .container {
	padding-bottom: 23%;
	padding-top: 23%;
}

.intro a {
	background-color: #f9e42e;
	border-radius: 4px;
	border:none;
	color: #033048;
	font-weight: 600;
	padding: 10px 60px;
	text-decoration: none;
}

.intro a:hover {
    background-color: #E3D02A;
    color: #033048;
}


/******************************************
/* BENEFITS SECTION
/*******************************************/


.benefits {
	background-color: #f0efef;
}

.benefits .container {
	padding-bottom: 100px;
	padding-right: 360px;
	padding-top: 100px;
}


/******************************************
/* BLOCK QUOTE SECTION
/*******************************************/


.block-quote {
	background-image: url("../images/testimonial_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}

.quote {
	color: #FFF;
	font-size: 36px;
}

.quote-name {
	color: #FFF;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	list-style-type: none;
	margin-left: 0;
}

.block-quote .container {
	font-style: italic;
	padding-bottom: 100px;
	padding-top: 75px;
	width: 596px;
}


/******************************************
/* FOOTER
/*******************************************/


.sign-up {
	clear: both;
	background-color: #f9e42e;
}

.sign-up .container {
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
}

button {
	background-color: #033048;
	border-radius: 4px;
	border:none;
	color: #FFF;
	font-weight: 600;
	padding: 10px 60px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 600;
}

button:hover {
    background-color: #01161E;
    color: #FFF;
}

footer {
	background-color: #121212;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}

.footer-logo {
	color: #f9e42e;
	font-size: 48px;
	font-weight: 800;
}

.footer-icon {
	font-size: 36px;
}

.footer-icon *{
	padding: 25px;
}

footer .container p {
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
	padding-top: 25px;
}


/******************************************
/* BLOG
/*******************************************/

main {
	float: left;
	width: 75%;
	padding: 50px 40px 100px 0;
}

aside {
	float: left;
	width: 25%;
	padding: 50px 0;
}

article {
	border-bottom: solid 1px #033048;
}

article img {
	width: 100%;
	padding: 25px 0;
}

article p {
	padding-bottom: 25px;
}

article p:first-letter {
	font-weight: 600;
	font-size: 80px;
	float: left;
	line-height: 90px;
 	padding-top: 4px;
 	padding-right: 8px;
}

article a {
	display: inline-block;
	float: right;
	padding-bottom: 20px;
	font-weight: 600;
	color: #033048;
	text-decoration: none;
}

.categories ul {
	list-style-type: none;
	color: #033048;
}

.about a{
	font-weight: 600;
	color: #033048;
	text-decoration: none;
}

a:hover {
	color: #f9e42e;
}

a {
	margin: 0; 
}


















