/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
	color: #606161;
	font-family: 'Open Sans', sans-serif;
	font-size: 27px;
	font-weight: 300;
	line-height: 1.5;
}

/* Clear fix hack */
/*.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}*/

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

h1 {
	color: #FFF;
	font-size: 48px;
	font-weight: 800;
	line-height: 0;

}

h2 {
	color: #FFF;
	font-size: 47px;
	font-weight: 600;
	line-height: 1.5;
}

h3 {
	color: #033048;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.5;
}

p {
	color: #606161;
	font-size: 27px;
	font-weight: 300;
	line-height: 1.5;
}

ul {
	color: #606161;
	font-size: 27px;
	font-weight: 300;
	line-height: 1.5;
	list-style-type: disc;
	margin-left: 80px;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	margin: 0 auto;
	max-width: 90%;
	width: 1024px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo {
	margin: 0 auto;
	max-width: 90%;
	position: relative;
	top: 45px;
	width: 1024px;
	z-index: 100;
}

.intro {
	background-image: url("../images/header_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}

.intro .container {
	padding-bottom: 23%;
	padding-top: 23%;
}

.benefits {
	background-color: #f0efef;
}

.benefits .container {
	padding-bottom: 100px;
	padding-right: 360px;
	padding-top: 100px;
}

.block-quote {
	background-image: url("../images/testimonial_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}

.quote {
	color: #FFF;
	font-size: 36px;
}

.quote-name {
	color: #FFF;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	list-style-type: none;
	margin-left: 0;
}

.block-quote .container {
	font-style: italic;
	padding-bottom: 100px;
	padding-top: 75px;
	width: 596px;
}

.sign-up {
	background-color: #f9e42e;
}

.sign-up .container {
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
}

footer {
	background-color: #121212;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}

.footer-logo {
	color: #f9e42e;
	font-size: 48px;
	font-weight: 800;
}

.footer-icon {
	font-size: 36px;
}

.footer-icon *{
	padding: 25px;
}

footer .container p {
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
	padding-top: 25px;
}

.button1 {
	background-color: #f9e42e;
	border-radius: 4px;
	border:none;
	color: #033048;
	font-size: 28px;
	font-weight: 600;
	padding: 10px 60px;
}

.button1:hover {
    background-color: #E3D02A;
    color: #033048;
}

.button2 {
	background-color: #033048;
	border-radius: 4px;
	border:none;
	color: #FFF;
	font-size: 28px;
	font-weight: 600;
	padding: 10px 60px;
}

.button2:hover {
    background-color: #01161E;
    color: #FFF;
}









