/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/* Clear fix hack */
/*.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}*/

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

h1 {
	font-weight: 800;
	color: #FFF;
	font-size: 48px;
	line-height: 0;

}

h2 {
	font-weight: 600;
	color: #FFF;
	font-size: 47px;
	line-height: 1.5;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	max-width: 90%;
	margin: 0 auto;
	width: 1024px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo {
	left: 120px;
	position: absolute;
	top: 45px;
	z-index: 100;
}

.intro {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	height: 100%;
	padding-bottom: 310px;
	padding-top: 200px;
	position: relative;
	text-align: center;
}

.benefits {
	background-color: #f0efef;
}

.block-quote {
	background-size: cover;
	background: url("../images/testimonial_bg.jpg") no-repeat center top rgb(3,48,72);
}

.sign-up {
	background-color: #f9e42e;
}

footer {
	background-color: #121212;
}

.footer-logo {
	color: #f9e42e;
	font-size: 48px;
	font-weight: 800;
	/*line-height: 0;*/
}











